@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500&display=swap');
 
:root {
    --primary: #73245E;
    --light: #ffffff;
    --grey: #efefef;
}

body {
    overflow: hidden;  /*no se puede hcer scroll*/
    font-family: Poppins, sans-serif; 
    font-weight: 300;
    color: var(--primary);
}

.text-ligth {
    color: var(--light);
}

.d-block:hover {
    color: var(--grey);
    text-decoration: none;
}

.bg-primary {
    background-color: var(--primary) !important;
    min-height: 100vh;
}

.logo {
    padding: .875rem 1.25rem;
}

.menu {
    width: 18rem;
}

.btn {
    background-color: #73245E !important;
}

.nav-link {
    margin-right: 3em;
}

.content {
    overflow-y: auto; /*se puede hcer scroll*/
    height: 100vh;
    padding-bottom: 5rem;
    margin-left: 3em;
}