@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    /*outline: solid 1px tomato !important;*/
}


/*------Navbar-------*/

.contenedor {
    width: 100%;
    z-index: 10;
    /*display: flex;*/
    padding-left: auto;
    padding-right: auto;
    padding-top: 1px;
    /*justify-content: center;*/
    align-items: center;
    float: left;
    background: linear-gradient(to left, #731943, #73245E, #361973, #1E1B8C, #F2F2F2);
}

.menu {
    float: right;
    padding-top: 5px;
    box-sizing: border-box;
    color: white;
}

.menu-item {
    display: inline-block;
    margin-right: 12px;
    color: white;
}

li {
    margin: 10px;
}

a {
    color: white;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

h1 {
    padding-left: 50px;
    padding-bottom: 24px;
    color: #731943;
    font-family: Poppins, sans-serif;
}

.navbar {
    background-color: transparent !important;
    width: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-start;
    z-index: 10;
    padding-top: 1px;
}

.nav-link {
    color: white !important;
}

.nav-item {
    margin-left: 10px;
}


/*------Container-------*/

div.container2 {
    position: center;
    justify-content: center;
    text-align: center;
    padding-top: 11%;
    padding-left: 2%;
    padding-right: 20%;
    padding-bottom: 18px;
    background: linear-gradient(to left, #731943, #73245E, #361973, #1E1B8C, #F2F2F2);
}

h3 {
    color: white;
    font-family: Poppins, sans-serif;
    padding-bottom: 16px;
}

.row {
    padding-left: 2%;
}

h5 {
    color: white;
    font-family: Poppins, sans-serif;
}

h4.card-litle {
    /* color: #731943;*/
    font-family: Poppins, sans-serif;
}

.col {
    max-width: 60%;
    margin-left: 34%;
    justify-content: center;
}

.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/*------Cuerpo-------*/


/* cuerpo*/

section {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 5);
}

h1 {
    font-family: poppins, sans-serif;
    font-size: 100%;
    color: #731943;
    font-size: 70px;
    margin-left: 40px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 30px;
}

p {
    box-sizing: border-box;
    font-size: 20px;
    font-family: roboto;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
    border-radius: 20px;
    text-align: center;
    font-family: Poppins, sans-serif;
}


/*Form*/

form {
    width: 100%;
    max-width: 400px;
    margin-left: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

label {
    color: grey;
    font-size: 20px;
    padding: 4px;
    margin-top: 12px;
    margin-bottom: 8px;
    margin-left: 70px;
}

.interior {
    background-color: transparent;
    padding: 4px;
    padding-top: 4px;
    margin-bottom: 8px;
    font-size: 20px;
    margin-left: 70px;
}

.contenedor1 {
    align-items: center;
    padding-top: 5px;
}

button {
    width: 10%;
    justify-content: left;
    cursor: pointer;
    padding: 14px;
    color: white;
    margin-left: 160px;
    margin-top: 5px;
    top: 8px;
    padding: 8px;
    border-radius: 20px;
    align-items: left;
}

.div .button1 {
    padding-left: 40px;
}

.button1 {
    background-color: #73245E;
    border-color: #73245E;
    color: white;
    font-size: 15px;
    display: block;
}

.button2 {
    border-color: #73245E;
    color: black;
    font-size: 15px;
    background-color: transparent;
    margin-bottom: 5px;
    display: block;
}


/*------Footer-------*/

footer {
    background-color: black;
    color: white;
    padding: 2%;
}

footer p {
    padding: 5px;
    font-size: 15px;
    margin-right: 30px;
    margin-bottom: 5px;
    text-align: center;
}

.grid-item {
    margin: 2%;
}

.redes {
    width: 3em;
}

.texto {
    margin: 1%
}

.pie {
    margin-top: 3%;
}


/*------Responsive-------*/